<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      <div id="container-header">
        <img src="./assets/images/logo.svg" alt="logo" />
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section class="top-area">
    <div id="container">
      <div>Discover the magic of our surprise box</div>
      <div>Unleash your child's curiosity with our educational subscription box filled with fun and learning.</div>
      <button routerLink="/subscribe">Subscribe Now</button>
      <img src="./assets/images/home.png" alt="" />
    </div>
  </section>

</ion-content>