

.top-area {
  background: #ab95f9;
  #container {
    text-align: center;
    margin: 0 auto;
    max-width: 1312px;
    div {
      &:nth-of-type(1) {
        font-family: "Nunito", serif;
        font-weight: 900;
        font-size: 56px;
        text-shadow: 2px 2px 0px #896af9;
        color: #fff;
        padding-top: 140px;
        line-height: 68px;
        max-width: 768px;
        margin: 0 auto;

        @media (max-width: 768px) {
          padding-top: 40px;
          line-height: 48px;
          font-size: 40px;
          padding-right: 10%;
          padding-left: 10%;
        }
      }

      &:nth-of-type(2) {
        font-family: "Nunito", serif;
        font-weight: 700;
        color: #fff;
        padding-top: 32px;
        line-height: 30px;
        font-size: 20px;
        max-width: 668px;
        margin: 0 auto;
        @media (max-width: 768px) {
          padding-right: 5%;
          padding-left: 5%;
        }
      }
    }

    button {
      margin-top: 30px;
    }

    img {
      margin-top: 100px;
      @media (max-width: 768px) {
        padding-right: 5%;
        padding-left: 5%;
      }
    }
  }
}

.bottom-area {
  background: url("../../assets/images/bg.png") no-repeat 0% 0%;
  background-size: cover;
  text-align: center;
  padding-top: 138px;
  #container {
    div {
      &:nth-of-type(1) {
        font-family: "Nunito", serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        color: #000000;
      }
      &:nth-of-type(2) {
        font-family: "Nunito", serif;
        font-size: 48px;
        font-weight: 700;
        line-height: 57.6px;
        max-width: 768px;
        padding-top: 10px;
        margin: 0 auto;

        @media (max-width: 768px) {
          padding-right: 10%;
          padding-left: 10%;
          font-size: 40px;
          font-weight: 700;
          line-height: 48px;
        }
      }

      &:nth-of-type(3) {
        font-family: "Nunito", serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 36px;
        max-width: 768px;
        margin: 0 auto;
        padding-top: 30px;

        @media (max-width: 768px) {
          padding-right: 5%;
          padding-left: 5%;
          font-size: 24px;
          font-weight: 400;
          line-height: 36px;
        }
      }
    }

    .steps {
      padding-top: 100px;
    }
    .step {
      margin: 0 auto;
      max-width: 405px;
      .title {
        font-family: "Nunito", serif;
        font-size: 32px;
        font-weight: 700;
        line-height: 42px;
        text-align: center;
        color: #000000;

        @media (max-width: 768px) {
          font-size: 24px;
          font-weight: 700;
          line-height: 31px;
        }
      }
      .content {
        padding-top: 32px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
      }
    }

    button {
      margin-top: 56px;
      margin-bottom: 134px;
      @media (max-width: 768px) {
        margin-bottom: 60px;
      }
    }
  }
  @media (max-width: 768px) {
    padding-top: 70px;
    background: #fff9e6;
  }
}

button {
  color: #896af9;
  width: 221px;
  height: 70px;
  padding: 15.5px 27.09px 15.9px 26px;
  background: #fff;
  border-radius: 24px;
  box-shadow: 4px 4px 0px -1px #896af9;
  font-family: "Nunito", serif;
  font-size: 23px;
  font-weight: 900;
  line-height: 38px;
  text-align: center;

  @media (max-width: 768px) {
    width: 193px;
    height: 48px;
    font-size: 18px;
    font-weight: 900;
    line-height: 23px;
    border-radius: 12px;
  }
}

.footer {
  max-width: 1312px;
  margin: 0 auto;
  padding-bottom: 100px;
  padding-top: 100px;
  @media (max-width: 768px) {
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 60px;
  }
  hr {
    margin-bottom: 40px;
    border: 0;
    border-top: 1px solid var(--Black, #000);
  }

  img {
    display: none;
    padding-bottom: 40px;
    @media (max-width: 768px) {
      display: block;
    }
  }

  .footer-menu {
    display: none;
    padding-bottom: 60px;
    @media (max-width: 768px) {
      display: block;
    }
    a {
      display: block;
      width: 100%;
      font-family: "Nunito", serif;
      font-size: 16px;
      font-weight: 600;
      line-height: 34px;
      text-align: left;
      color: #000000;
      text-decoration: none;
    }
  }

  .subscribe {
    div {
      display: none;
      &:nth-of-type(1) {
        @media (max-width: 768px) {
          display: block;
          font-family: "Nunito", serif;
          font-size: 16px;
          font-weight: 600;
          line-height: 24px;
          text-align: left;
        }
      }

      &:nth-of-type(2) {
        @media (max-width: 768px) {
          padding-top: 10px;
          display: block;
          font-family: Nunito;
          font-size: 12px;
          font-weight: 400;
          line-height: 18px;
          text-align: left;
          padding-bottom: 60px;
          a {
            color: #000000;
            text-decoration: underline;
          }
        }
      }
    }

    input {
      display: none;
      @media (max-width: 768px) {
        display: block;
        width: 100%;
        height: 48px;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        color: #505050;
        padding-left: 15px;
      }
    }

    button {
      display: none;
      @media (max-width: 768px) {
        background: #fff;
        border: 1px solid #000000;
        box-shadow: none;
        border-radius: 0;
        margin-top: 16px;
        width: 100%;
        display: block;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        color: #000000;
        text-align: center;
      }
    }
  }

  .footer-links {
    a {
      display: inline-block;
      font-family: "Nunito", serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      text-decoration: underline;
      padding-right: 24px;
      color: #000000;
      @media (max-width: 768px) {
        display: block;
        width: 100%;
        padding-bottom: 24px;
      }
    }
  }

  .copy-right {
    font-family: "Nunito", serif;

    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: right;
    @media (max-width: 768px) {
      text-align: left;
    }
  }
}
